<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
<!--
// Copyright CESSDA ERIC 2017-2023
//
// Licensed under the Apache License, Version 2.0 (the "License"); you may not
// use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
-->
<head>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@coordinate_eu">
  <meta property="og:site_name" content="CESSDA Data Catalogue">
  <meta property="og:type" content="website">
  <% if (metadata.title) { %>
    <meta property="og:title" content="<%= metadata.title %> - CESSDA Data Catalogue">
  <% } else { %>
    <meta property="og:title" content="CESSDA Data Catalogue">
  <% } %>
  <% if (metadata.description) { %>
    <meta property="og:description" content="<%= metadata.description %>">
  <% } else { %>
    <meta property="og:description" content="COORDINATE Portal contains metadata from studies related to child and youth wellbeing.">
  <% } %>
  <meta property="og:image" content="https://www.cessda.eu/Images/Service-logos/dc-std.svg">
  <% if (metadata.creators) { %>
    <meta name="twitter:label1" content="Creator">
    <meta name="twitter:data1" content="<%= metadata.creators %>">
  <% } %>
  <% if (metadata.publisher) { %>
    <meta name="twitter:label2" content="Publisher">
    <meta name="twitter:data2" content="<%= metadata.publisher %>">
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <noscript>
    <style>
      noscript {
        position: fixed;
        top: 30%;
        left: 50%;
        max-width: 400px;
        margin-left: -200px;
        text-align: center;
        font-family: sans-serif;
        font-size: 14px;
        border-radius: 3px;
        background-color: #eeeeee;
      }
      p {
        margin: 0;
        padding: 15px;
      }
      p:last-child {
        padding-top: 0;
      }
    </style>
  </noscript>
</head>
<body>
  <noscript>
    <p><strong>This application requires JavaScript to be enabled.</strong></p>
    <p>To enable JavaScript in your browser please follow the instructions
      <a href="https://www.enable-javascript.com/" target="_blank" rel="noopener noreferrer">available here</a>.
    </p>
  </noscript>
  <div class="legacy-browser-notice" style="display: none;">
    You are currently using a legacy web browser which may affect performance.
    For the best experience we recommend upgrading to a
    <a href="https://outdatedbrowser.com/" target="_blank" rel="noopener noreferrer">modern browser</a>.
  </div>
  <div id='root'></div>
  <% if (metadata.jsonLd) { %>
    <script id="json-ld" type="application/ld+json"><%- JSON.stringify(metadata.jsonLd) %></script>
  <% } %>  

</body>
</html>
